/*       ____ _   _ ____  ____  _____ ____      */
/*      / ___| | | |  _ \/ ___|| ____|  _ \     */
/*     | |   | | | | |_) \___ \|  _| | | | |    */
/*     | |___| |_| |  _ < ___) | |___| |_| |    */
/*      \____|\___/|_| \_\____/|_____|____/     */
/*    ____ ____ ____    _____ ___ _     _____   */
/*   / ___/ ___/ ___|  |  ___|_ _| |   | ____|  */
/*  | |   \___ \___ \  | |_   | || |   |  _|    */
/*  | |___ ___) |__) | |  _|  | || |___| |___   */
/*   \____|____/____/  |_|   |___|_____|_____|  */
                                                        

/* Configure as much as you'd like... If you dare! */


* {
    border: none;
    border-radius: 0;
    font-family: "JetBrains Mono";
    font-weight: bold;
    font-size: 16px;
    min-height: 0;
}

window#waybar {
    background: rgba(21, 18, 27, 0);
    color: #cdd6f4;
}

tooltip {
    background: #1e1e2e;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #11111b;
}

#workspaces button {
    padding: 4px;
    padding-left: 5px;
    color: #636777;
    margin-right: 5px;
}

#workspaces button.active {
    background-color: #d6acff;
    border-radius: 10px;
}

#workspaces button.focused {
    color: #d6acff;
    background: #d6acff;
    border-radius: 10px;
}

#workspaces button.urgent {
    color: #d6acff;
    background: #d6acff;
    border-radius: 10px;
}

#workspaces button:hover {
    background: #d6acff;
    color: #636777;
    border-radius: 8px;
}

#window,
#clock,
#pulseaudio,
#network,
#workspaces,
#tray,

#custom-wofi, /* Module is already defined in .jsonc but it's not in use, you can customize it here if you'd like */

#backlight {
    background: #1e1e2e;
    opacity: 0.8;
    padding: 0px 10px;
    /* margin: 3px 0px; */
    margin: 0px 0px;
    margin-top: 16px;
    border: 1px solid #181825;
}

#tray {
    border-radius: 10px;
    margin-right: 10px;
    padding-top: 2px;
}

#workspaces {
    background: #1e1e2e;
    border-radius: 10px;
    margin-left: 0px;
    padding-right: 0px;
    padding-left: 5px;
}

#window {
    border-radius: 10px;
    margin-left: 60px;
    margin-right: 60px;
}

#clock {
    color: #cba6f7;
    border-radius: 10px 0px 0px 10px;
    margin-left: 10px;
    border-right: 0px;
    border-radius: 10px;
}

#network {
    color: #cba6f7;
    border-radius: 10px 0px 0px 10px;
    border-left: 0px;
    border-right: 0px;
    border-radius: 10px;
    margin-right: 10px;
}

#pulseaudio {
    color: #cba6f7;
    padding-top: 1px;
    border-left: 0px;
    border-right: 0px;
    border-radius: 10px 0px 0px 10px;
}

#pulseaudio.microphone {
    color: #cba6f7;
    padding-top: 1px;
    padding-left: 0px;
    border-left: 0px;
    border-right: 0px;
    border-radius: 0px 10px 10px 0px;
    margin-right: 10px;
}
